.all-content{
           
    width: 70%;
    margin-left: 4rem;
    text-align: center;
}
.all-content h1{
    cursor: pointer;
    display:inline;
    border: 3px solid #BFACE2 ;
    background-color: #655DBB;
    border-radius: 20% 0% 20% 0%;
    color:white;

}
.all-content h2{
    text-decoration: underline;
    margin-left: 1rem;
}


.accordian{
    display: none;
}

a{
    margin-left: 2.5rem;
}

button{
    height: 20px;
    width: 40px;
    text-align: left;
}